@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #000;
}

/*Main Header Logo*/
.logo {
  margin-left: 104px;
  position: relative;
  top:60px;
}
/*Header Nav*/
.header {
  display: flex;
  justify-content:center;
}
/*Header Nav Element*/
.header_item {
  position: relative;
  top:10px;
  right:-90px;
  font-size: 18px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
  padding:18px;
  color: #fff;
}
ul {
  display: flex;
  align-items: center;
  text-align: center;
}

li {
  text-align: center;
  margin:auto;
  display:block;
}

/*Header Nav Element Right*/
.header_item_right {
  position: relative;
  top:7px;
  left:480px;
  padding:0 0 0 18px;
  font-size: 18px;
  color: #808080;
  font-family: 'Roboto', sans-serif;
}


/*Title Falcon Heavy*/
.title {
  text-align: center;
  font-size:56px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top:170px;
}
/*SubTitle*/
.subtitle {
  display: flex;
  justify-content:center;
  font-style: normal;
  line-height:140%;
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  color: #fff;
  text-align: justify;
  position: relative;
  text-transform: lowercase;
  font-size: 22px;
  top:206px;

}

hr {
  transform:rotate(90deg);
  width:75px;
  height: 0px;
  margin: auto;
  display:block;
  position: relative;
  top:260px;
  border: 1px solid #FFFFFF;
}

.title__characteristics {
  position: relative;
  top:600px;
  left:180px;
  width:50%;
  text-align: justify;
  right:0px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  white-space: pre-line;

}

.first_characteristic {
  font-family: 'Roboto', sans-serif;
  margin-top:60px;
}

.item_characteristic {
  font-family: 'Roboto', sans-serif;
  padding-top:20px;
}

.characteristic_data {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top:-35px;
  left:400px;
  width:50%;
  text-transform: none;

}

.characteristic_data_colour {
  color:#979797;
}


.img_rocket {
  position: relative;
  float:right;
  left:-105px;
  width: 644px;
  height: 1718px;
  top:120px;
}

.title_performance {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  float:left;
  position: relative;
  left:180px;
  top:840px;
  text-align: justify;
  text-justify: inter-word;
}



.description_performance {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  float:left;
  position: relative;
  left:-150px;
  width:490px;
  top:900px;
}

.logo_footer {
  margin:auto;
  display:block;
  position: relative;
  right:35px;
  top:1400px;
}

.footer_socials a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin:0px 0px 0px 10px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  right:35px;
  top:1445px;
}

.mail {
  font-family: 'Roboto', sans-serif;
  position: relative;
  top:1470px;
  right:35px;
  color: #808080;
  text-align:center;

}

.button_contact {
  width:200px;
  height: 60px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  position: relative;
  text-align:center;
  top:1520px;
  display: flex;
  align-items: center;
  justify-content: center;
  left:80px;
}

.content_button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 18px;
  position: relative;
}